<p><%= l(:reminder_mail_body) %>:</p>

<% @projects.each do |project, group| -%>

    <h2>Project: <%= project.name %></h2>
    <ul>
    <% group.each do |name, issues| -%>
        <h3><%= l(ReminderMailer.issue_attrs[name].to_sym) %></h3>
        <% issues.each do |issue| -%>
        <%
           name = "#{issue.tracker} ##{issue.id}: #{issue.subject}"
           caption = "#{name} (#{l(:field_due_date)}: #{issue.due_date})"
           
           caption += " - #{l(:reminder_days_overdue, :days => issue.days_before_due_date.abs)}!" if issue.overdue?
        -%>
        <li>
        <%= link_to caption,issue_url(issue) %>
        </li>
    <% end -%>
    <% end -%>
    </ul>
<% end -%>

<a href="<%= @issues_url %>">Link to this report</a>
